.center () {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


head, body, .app-view {
  height: 100%;
}


.login {
  .center();
  background-color: rgb(3, 169, 244);
  color: white;
  height: 100%;

  .title {
    padding-top: 50px;
    text-align: center;

    h1 {
      font-size: 4em;
      margin: 0 0;
    }
  }

  md-content.md-default-theme {
    background-color: rgb(3, 169, 244);
  }

  md-card {
    background-color: white;
  }

  .form-input input {
    width: 100%;
  }
}

